// strging here...
.comment {
  @include flexyColumn;
  height: 120vh;
  width: 100%;

  padding-top: 3rem;
  position: relative;

  @include responsive(big-desktop) {
    height: 130vh;
  }
  @include responsive(tab-land) {
    height: 120vh;
  }
  @include responsive(phone) {
    height: 110vh;
  }
  @include responsive(min-phone) {
    height: 140vh;
  }

  &__heading {
    text-align: center;

    @include responsive(phone) {
      font-size: 2rem;
    }
  }

  &__video {
    height: 100%;
    width: 100%;
    position: absolute;

    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    object-fit: cover;
  }

  &__container {
    width: 100%;
    @include flexyColumn;
  }
  &__boxs {
    @include flexyColumn;
    gap: 6rem;
  }
  &__box-wrapper {
    transform: skewX(-20deg);
    width: 50%;
    background-color: rgba($white-color, 0.6);

    @include responsive(big-desktop) {
      width: 80%;
    }
    @include responsive(tab-land) {
      width: 80%;
    }
    @include responsive(phone) {
      width: 70%;
      transform: skewX(0deg);
    }

    &:hover .comment__profile-pic h2 {
      bottom: 35%;
    }
    &:hover .comment__profile-pic img {
      filter: brightness(0.8) blur(0.3rem);
      transform: scale(1);
    }
  }
  &__box {
    padding: 4rem 1rem;
    transform: skewX(20deg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;

    @include responsive(phone) {
      flex-direction: column;
      align-items: center;
      transform: skewX(0deg);
    }
  }
  &__profile-pic {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      z-index: 50;
      transition: all 0.3s ease;
      transform: scale(1.3);
      object-fit: cover;
    }

    h2 {
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
      z-index: 100;
      color: $white-color;
      transition: all 0.3s ease;
    }
  }
  &__profile-texts {
    width: 70%;
    h2 {
      font-size: 2rem;
      color: $grey-03;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.5rem;
      color: $grey-03;
      text-align: start;
      line-height: 1.5;
    }
  }

  &__btn {
    margin-top: 2rem;

    button {
      bottom: -5rem;
      font-size: 1.8rem;
      font-weight: 600;
      padding-bottom: 0.5rem;
      border: none;
      border-bottom: 0.2rem solid rgba($primary-green-dark, 0.7);
      background-color: transparent;
      color: $primary-green-dark;
      cursor: pointer;
      transition: all 0.2s ease-in;

      @include responsive(min-phone) {
        bottom: -15rem;
        transform: translateY(-5rem);
      }

      &:hover {
        background-color: $primary-green-dark;
        border: none;
        color: $white-color;
        padding: 0.5rem 0.5rem 0.5rem 0;
        transform: translateY(-0.2rem);
      }
    }
  }
}
