// start here
.home {
  @include bgOf(
    $primary-green-light,
    $primary-green-dark,
    "../../assets/img/hero.jpg"
  );
  height: 100%;
  width: 100%;
  position: relative;
  @include flexyColumn;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  @include responsive(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  &-logo {
    position: absolute;
    top: 6rem;
    left: 5rem;
    width: 8rem;
    height: 4rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text-box {
    @include flexyColumn;
    color: white;
    text-align: center;
    margin-top: -10rem;
    @include responsive(land) {
      margin-top: -20rem;
    }

    h1 {
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3rem;
      animation: animH1 1s ease;
    }

    h3 {
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 1.5rem;
      margin-top: 1rem;
      animation: animH3 1s ease;
    }
  }

  &__btn {
    @include btns($grey-04, $white-color, $white-color, $white-color);
  }
}
