// start here
.tour-container {
  transform: skewY(-7deg);
  padding-bottom: 5rem;
  margin-top: -13rem;
  // margin-bottom: 10rem;
  background-color: $grey-01;
}
.tour {
  @include flexyColumn;
  height: 95vh;
  padding: 0 20rem;
  transform: skewY(7deg);

  &__left-right {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 4rem;
  }

  &__left {
    flex: 1;
  }
  &__right {
    flex: 1;
    width: 30rem;
    position: relative;
  }

  &__left-heading {
    font-size: 2rem;
    margin: 2rem 0;
    color: $grey-03;
  }
  &__para {
    color: $grey-03;
    font-size: 1.5rem;
    &:not(:first-child) {
      margin-bottom: 2rem;
    }
  }
  &__btn {
    align-self: flex-start;
    position: relative;

    button {
      position: absolute;
      left: 0;
      bottom: -5rem;
      font-size: 1.5rem;
      font-weight: 600;
      padding-bottom: 0.5rem;
      border: none;
      border-bottom: 0.2rem solid rgba($primary-green-dark, 0.6);

      background-color: transparent;
      color: $primary-green-dark;
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: $primary-green-dark;
        border: none;
        color: $white-color;
        padding: 0.5rem 0.5rem 0.5rem 0;
        transform: translateY(-0.2rem);
      }
    }
  }

  &__image {
    position: absolute;
    transition: all 0.2s ease;
    box-shadow: 0.3rem 0.4rem 2rem rgba(0, 0, 0, 0.25);
    border: rgba($grey-01, 0.6) solid 1rem;

    &-01 {
      top: 0;
      left: 1rem;
    }
    &-02 {
      top: 15rem;
      left: 12rem;
      z-index: 10;
    }
    &-03 {
      top: 4rem;
      right: 2rem;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &:hover {
      z-index: 20;
      transform: scale(1.5) translateY(-1rem);
    }
  }

  &__image-container {
    transition: all 0.2s ease;

    &:hover:not(.tour__image:hover) {
      transform: scale(0.9);
    }
  }
}
