// colors
$primary-green-light: #3bcc85;
$primary-green-dark: #33a759;

$primary-orange-light: #f0a36c;
$primary-orange-dark: #db8447;

$primary-blue-light: #4b86e5;
$primary-blue-dark: #3b49e0;

$white-color: white;
$grey-01: rgb(230, 230, 230);
$grey-02: grey;
$grey-03: rgb(97, 97, 97);
$grey-04: rgb(69, 69, 69);
$grey-05: rgb(43, 43, 43);
$black: black;

// image

// $image: "../../assets/img/hero.jpg";
